@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$eliasdouglas-primary: mat-palette($mat-gray);
$eliasdouglas-accent:  mat-palette($mat-cyan, A200, A100, A400);

// The warn palette is optional (defaults to red).
$eliasdouglas-warn:    mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$eliasdouglas-theme: mat-dark-theme($eliasdouglas-primary, $eliasdouglas-accent, $eliasdouglas-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($eliasdouglas-theme);
@include covalent-theme($eliasdouglas-theme, $typography); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
@include covalent-markdown-theme($eliasdouglas-theme);
@include covalent-highlight-theme();