<div class="home-container">
  <ngbd-carousel-gallery ></ngbd-carousel-gallery>
  <content-box [image]="contentBoxes[0].image"
               [title]="contentBoxes[0].title"
               [text]="contentBoxes[0].text"
               [textAlignX]="contentBoxes[0].textAlignX"></content-box>

  <content-box [image]="contentBoxes[1].image"
               [title]="contentBoxes[1].title"
               [text]="contentBoxes[1].text"
               [textAlignX]="contentBoxes[1].textAlignX"></content-box>
</div>
<div class="footer">
  FOOTER
</div>